#letter{
    letter-spacing: 10px;
}
#word{
    word-spacing: 30px;
}
#normal{
    white-space: normal;
}
#nowrap{
    white-space: nowrap;
}
#pre{
    white-space: pre;
}
#pre-line{
    white-space: pre-line;
}
#pre-wrap{
    white-space: pre-wrap;
}
#break-spaces{
    
    white-space: break-spaaces;
}
p{
    background-color: brown;
    color: white;
}